<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backend Test</title>
</head>
<body>
  <h1>Welcome everyone</h1>
  <p>Hello, <%= name %>!</p>
  <ul>
    <li><a href="/auth">Test Authentication</a></li>
    <li><a href="/projects">Test Projects</a></li>
    <li><a href="/users">Test Users</a></li>
    <li><a href="/uploads">Test File Upload</a></li>
  </ul>
</body>
</html>